language: php

php:
    - 7.2
    - 7.3
    - 7.4
    - 8.0

install:
    - composer self-update
    - composer install

before_script:
    - travis_retry composer self-update
    - travis_retry composer install --no-interaction --prefer-source --dev

script:
    - vendor/bin/phpunit --testdox --coverage-text --coverage-clover=coverage.clover
